COS_ACCESS_KEY_ID=<CLOUD_OBJECT_SOTRAGE_ACCESS_KEY_ID>
COS_SECRET_ACCESS_KEY=<CLOUD_OBJECT_STORAGE_SECRET_ACCESS_KEY>
COS_BUCKET_NAME=<CLOUD_OBJECT_STORAGE_BUCKET_NAME>
COS_ENDPOINT=<CLOUD_OBJECT_STORAGE_ENDPOINT>
USE_COS=TRUE
